:root {
  --card-aspect: 0.718;
  --card-radius: 4.55% / 3.5%;
  --card-back: hsl(205, 100%, 25%);
}

.card__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px 2vw;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 50px;
  transform-style: preserve-3d;
}

/* wrapper media query */
@media screen and (min-width: 900px) {
  .card__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .card__container .card {
    grid-area: 1/1;
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;
  }
  .card__container > .card:nth-child(1n) {
    left: -50px;
    top: 10px;
    transform: translateZ(0.1px) rotate(-5deg);
    z-index: calc(var(--card-scale) * 100 + 3);
  }
  .card__container > .card:nth-child(2n) {
    left: 0;
    top: 10px;
    transform: translateZ(0.1px);
    z-index: calc(var(--card-scale) * 100 + 2);
  }

  .card__container > .card:nth-child(3n) {
    left: 50px;
    top: 10px;
    transform: translateZ(0.1px) rotate(5deg);
    z-index: calc(var(--card-scale) * 100 + 1);
  }

  /* 3개 이상일때  */
  .card__container > .card:nth-child(n + 4):nth-child(-n + 6) {
    grid-row: 2;
  }

  .card__container > .card:nth-child(n + 7):nth-child(-n + 9) {
    grid-row: 3;
  }

  .card__container > .card:nth-child(n + 10):nth-child(-n + 12) {
    grid-row: 4;
  }

  .card__container > .card:nth-child(n + 13):nth-child(-n + 15) {
    grid-row: 5;
  }

  .card__container > .card:nth-child(n + 16):nth-child(-n + 18) {
    grid-row: 6;
  }

  .card__container > .card:nth-child(n + 19) {
    grid-row: auto;
    grid-column: auto;
    transform: none !important;
    left: 0 !important;
    top: 0 !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .card__container {
    max-width: 420px;
    margin: auto;
  }
  .card__container > .card:nth-child(1n) {
    left: -100px;
  }
  .card__container > .card:nth-child(2n) {
    left: 0;
  }
  .card__container > .card:nth-child(3n) {
    left: 100px;
  }
}

/*  */
.card {
  position: relative;
}
.card * {
  outline: 1px solid transparent;
  pointer-events: none;
  box-sizing: border-box;
}

.card.card__active .card__translater,
.card.card__active .card__rotator {
  touch-action: none;
}
@media screen and (max-width: 600px) {
  .card {
    grid-area: 1/1;
  }
}

.card__rotator,
.card.active .card__rotator:focus {
  transition:
    box-shadow 0.4s ease,
    opacity 0.33s ease-out;
  box-shadow:
    0 0 3px -1px transparent,
    0 0 2px 1px transparent,
    0 0 5px 0px transparent,
    0px 10px 20px -5px black,
    0 2px 15px -5px black,
    0 0 20px 0px transparent;
}

.card__translater,
.card__rotator {
  display: grid;
  perspective: 600px;
  will-change: transform, box-shadow;
  transform-origin: center;
  -webkit-transform-origin: center;
  transition-duration: 1s;
}
.card__translater {
  width: auto;
  position: relative;
  -webkit-transform: translate3d(var(--translate-x), var(--translate-y), 0.1px)
    scale(var(--card-scale));
  transform: translate3d(var(--translate-x), var(--translate-y), 0.1px)
    scale(var(--card-scale));
}
.card__rotator {
  display: grid;
  perspective: 600px;
  border: none;
  border-radius: var(--card-radius);
  aspect-ratio: var(--card-aspect);
  overflow: hidden;
  padding: 0;
  -webkit-transform: rotateY(var(--rotate-x)) rotateX(var(--rotate-y));
  -webkit-transform-style: preserve-3d;
  transform: rotateY(var(--rotate-x)) rotateX(var(--rotate-y));
  transform-style: preserve-3d;
  pointer-events: auto;
}

/* 앞장과 뒤장을 같이 놓기 위하여 */
.card__rotator * {
  width: 100%;
  display: grid;
  grid-area: 1/1;
  aspect-ratio: var(--card-aspect);
  border-radius: var(--card-radius);
  /* 적용 안되는거 확인 */
  image-rendering: optimizeQuality;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  pointer-events: none;
  overflow: hidden;
  border: none;
}

.card__rotator img {
  height: auto;
  -webkit-transform: translate3d(0px, 0px, 0.01px);
  transform: translate3d(0px, 0px, 0.01px);
}

.card__front {
  opacity: 1;
  transition: opacity 0.33s ease-out;
  -webkit-transform: translate3d(0px, 0px, 0.01px);
  transform: translate3d(0px, 0px, 0.01px);
}
.card__back {
  background-color: var(--card-back);
  -webkit-transform: rotateY(180deg) translateZ(1px);
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: visible;
}

.card__container > .card__active {
  z-index: calc(var(--card-scale) * 100 + 4);
  transform: translateZ(0.1px) !important;
}
